form.comment-form
  fieldset
    .field-container
      label(for='comment-name') Name
      input#comment-name(type='text', placeholder='Enter Your Name')
    .field-container
      label(for='comment-email') Email
      input#comment-email(type='email', placeholder='Your email address')
    .field-container
      label(for='comment-url') URL
      input#comment-url(type='url', placeholder='Website if you got one')
    .field-container
      label(for='comment-field') Comment
      textarea#comment-field(rows='5', placeholder='Write you comment here')
