form.inline-form.newsletter-form(action='#', method='post')
  fieldset
    legend Sign up for our newsletter
    label(for='newsletter-scope') Sign up for our newsletter
    .inline-container
      input#newsletter-field.newsletter-field(type='newsletter', placeholder='E-mail address')
      button.newsletter-submit Sign Me Up
