#page.page
  include 'organisms-header'
  div(role='main')
    h1.section-title Our Outdoor Blog
    .l-two-col
      .l-main
        section.section.latest-posts
          ul.post-list
            li
              include 'molecules-media-block'
          a.text-btn(href='#') View more posts
          include 'molecules-pagination'
      // end l-main
      .l-sidebar
        include 'organisms-recent-tweets'
      // end l-sidebar
    // end two-col
  // End role=main
  include 'organisms-footer'
