.carousel-list-carousel
  .carousel-container
    include 'molecules-inset-block'
    div
      .carousel-controls
        a.carousel-prev(href='#') ←
        .carousel-pagination 1/5
        a.carousel-next(href='#') →
