// Begin .header
header.header.cf(role='banner')
  include 'atoms-logo'
  a.nav-toggle.nav-toggle-search.icon-search(href='#')
    span.is-vishidden Search
  a.nav-toggle.nav-toggle-menu.icon-menu(href='#')
    span.is-vishidden Menu
  include 'molecules-primary-nav'
  include 'molecules-search'
// End .header
