section.section.latest-posts
  h2.section-title Latest Posts
  ul.post-list
    li
      include 'molecules-media-block'
    li
      include 'molecules-media-block'
    li
      include 'molecules-media-block'
    li
      include 'molecules-media-block'
    li
      include 'molecules-media-block'
  a.text-btn(href='#') View more posts
