section.section.related-posts
  h3.section-title Recent Tweets
  ul.headline-list
    li
      h4
        a(href='#') Headline Lorem ipsum dolor sit amet
      include 'atoms-time'
    li
      h4
        a(href='#') Laborum, molestiae, rerum, dolores eveniet
      include 'atoms-time'
    li
      h4
        a(href='#') quae est fugit distinctio iure odit minus non ipsum
      include 'atoms-time'
    li
      h4
        a(href='#') dolorum deserunt omnis voluptates voluptatum
      include 'atoms-time'
    li
      h4
        a(href='#') nventore dignissimos vel molestiae, rerum, dolore
      include 'atoms-time'
    li
      h4
        a(href='#')
  a.text-btn(href='#') Follow us on Twitter
