section.section.related-posts
  h3.section-title Related Posts
  ul.headline-list
    li
      h4
        a(href='#') Headline Lorem ipsum dolor sit amet
    li
      h4
        a(href='#') Laborum, molestiae, rerum, dolores eveniet
    li
      h4
        a(href='#') quae est fugit distinctio iure odit minus non ipsum
    li
      h4
        a(href='#') dolorum deserunt omnis voluptates voluptatum
    li
      h4
        a(href='#') nventore dignissimos vel molestiae, rerum, dolore
    li
      h4
        a(href='#')
