ul.icons.inline-list
  li.icon-twitter
  li.icon-facebook
  li.icon-stumbleupon
  li.icon-linkedin
  li.icon-pinterest
  li.icon-google-plus
  li.icon-youtube
  li.icon-feed
  li.icon-search
  li.icon-play
