.accordion
  ul
    li
      a.acc-handle(href='#') Accordion 1
      .acc-panel
    li
      a.acc-handle(href='#') Accordion 2
      .acc-panel
    li
      a.acc-handle(href='#') Accordion 3
      .acc-panel
