ul.sg-colors
  li
    span.sg-swatch(style='background: #ff0000;')
    span.sg-label #ff0000
  li
    span.sg-swatch(style='background: #00ff00;')
    span.sg-label #00ff00
  li
    span.sg-swatch(style='background: #0000ff;')
    span.sg-label #0000ff
  li
    span.sg-swatch(style='background: #ffff00;')
    span.sg-label #ffff00
  li
    span.sg-swatch(style='background: #00ffff;')
    span.sg-label #00ffff
  li
    span.sg-swatch(style='background: #ff00ff;')
    span.sg-label #ff00ff
  li
    span.sg-swatch(style='background: #ffffff;')
    span.sg-label #ffffff
  li
    span.sg-swatch(style='background: #808080;')
    span.sg-label #808080
  li
    span.sg-swatch(style='background: #000000;')
    span.sg-label #000000
