.demo-animate.animate-fade
  strong Fade:
  |  Duration: 0.3s Easing: ease-out (Hover to see effect)
.demo-animate.animate-move
  .demo-shape
  strong Movement:
  |  Duration: 0.8s  Easing: ease-in-out; (Hover to see effect)
