p.hide-small This text is hidden on smaller screens
p.hide-med.hide-large
  em This text is only visible on smaller screens
p.hide-med This text is hidden on medium screens only
p.hide-small.hide-large
  em This text is only visible on medium screens
p.hide-large This text is hidden on large screens
p.hide-small.hide-med
  em This text is only visible on large screens
